.header {
  display: flex;
  padding: 1rem 0;
  font-family: "Nunito", sans-serif;

  .block {
    display: flex;
    align-items: center;

    &:first-child {
      min-width: 8rem;
      max-width: 8rem;
    }

    img {
      height: 24px;
      margin-right: .5rem;
    }

    span {
      color: #eee;
      font-size: 20px;
    }
  }

  .shop-button {
    margin-left: auto;
    color: #222 !important;
    background-image: linear-gradient(135deg, #00acea 30%, #00efd1);
    border: none;
    font-size: 18px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(#76eedf, .3);
    transition: 100ms;

    &:active {
      transform: scale(.96);
      box-shadow: 0 0 4px rgba(#76eedf, .7);
    }
  }
}

.Card {
  background-color: transparent;
}

.upgrade-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 144px;
  height: 100px;
  border-radius: 10px;
  color: white;
  text-shadow: 0 0 3px #222;
  text-align: center;
  transition: 100ms;

  &.disabled {
    background-image: linear-gradient(135deg, #6d6d6d, #a1a1a1) !important;
    text-shadow: none !important;
    color: #aeaeae;

    img {
      box-shadow: none !important;
      opacity: .6;
    }
  }

  &:active:not(.disabled) {
    transform: scale(.96);
  }

  &[data-index='0'] {
    background-image: linear-gradient(135deg, #DE6262, #FFB88C);
  }

  &[data-index='1'] {
    background-image: linear-gradient(135deg, #24C6DC, #514A9D);
  }

  &[data-index='2'] {
    background-image: linear-gradient(135deg, #DAE2F8, #D6A4A4);
  }

  &[data-index='3'] {
    background-image: linear-gradient(135deg, #134E5E, #71B280);
  }

  &[data-index='4'] {
    background-image: linear-gradient(135deg, #757F9A, #D7DDE8);
  }

  &[data-index='5'] {
    background-image: linear-gradient(135deg, #4776E6, #8E54E9);
  }

  &[data-index='6'] {
    background-image: linear-gradient(135deg, #ee0979, #ff6a00);
  }

  div {
    opacity: .9;
    padding: 2px 0;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }

  .count {
    display: flex;
    align-items: center;
    margin: 0 auto;

    img {
      margin-right: 1px;
      height: auto;
      width: 22px;
      border-radius: 0;
      box-shadow: 0 0 2px #222;
    }
  }

  .cost {
    display: flex;
    align-items: center;
    margin: 0 auto;

    img {
      margin-left: 4px;
      height: 16px;
      border-radius: 50%;
      box-shadow: 0 0 2px #222;
    }
  }
}

.float-area {
  position: absolute;
  display: flex;
  width: 100%;
  height: 30px;
  top: -30px;
  z-index: 2;

  .spawner {
    position: relative;
    width: 80%;
    margin: 0 auto;

    .floater {
      position: absolute;
      color: #fff;
      animation: 3s appear ease-out forwards;

      @keyframes appear {
        0% {
          transform: translateY(100px);
          opacity: .7;
        }
        80% {
          opacity: .7;
        }
        100% {
          transform: translateY(0px);
          opacity: 0;
        }
      }
    }
  }
}

.big-button {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  margin: auto auto 2rem;
  background-image: linear-gradient(135deg, #00acea, #00efd1);
  box-shadow: 0 0 16px rgba(118, 238, 223, .3);

  .cpc {
    display: inline-flex;
    align-items: center;
    font-size: 60px;
    color: #387c95;
    text-shadow: 0 0 3px #999;

    img {
      margin-left: 4px;
      border-radius: 50%;
      height: 50px;
      box-shadow: 0 0 3px #999;
    }
  }

  .cps {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color: #387c95;
    text-shadow: 0 0 3px #999;
  }
}

