.header-shop {
  display: flex;
  padding: 1rem 0;
  font-family: "Nunito", sans-serif;

  .block {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    img {
      height: 24px;
      margin-right: .5rem;
    }

    span {
      color: #eee;
      font-size: 20px;
    }

    div {
      font-size: 16px;
      color: #8b8b8b;
    }
  }
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1rem;
  text-shadow: 0 0 3px #222;
  transition: 100ms;

  &:active {
    transform: scale(.98);
  }

  .name {
    font-size: 23px;
    font-weight: 500;
  }

  .description {
    font-size: 16px;
    margin: 1rem 0;
  }

  .cost {
    display: flex;
    align-items: center;
    font-size: 20px;

    img {
      height: auto;
      width: 30px;
      box-shadow: 0 0 3px #222;
      margin-left: 4px;
      border-radius: 2px;
    }
  }
}

.popup {
  padding: 2rem;
  background-color: rgba(#222, .8);
  font-size: 22px;
  color: white;
  text-shadow: 0 0 3px #222;
  border-radius: 10px;
  box-shadow: 0 0 1rem #222;
}

.coming-soon {
  font-size: 14px;
  text-align: center;
  color: #666666;
}